@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import './default.css';
@import './custom.css';

@custom-variant dark (&:is(.dark *));

.app-bg-image-layer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(var(--app-glass-blur));
  /* transform: scale(1.06); */
  /* transform-origin: center; */
}

.app-glass-overlay {
  background-color: oklch(1 0 0 / var(--app-glass-opacity));
}

.dark .app-glass-overlay {
  background-color: oklch(0.145 0 0 / var(--app-glass-opacity));
}
